:80 {
    encode zstd gzip

    @api path /api/* /openapi.json /rapidoc*
    handle @api {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * /opt/webui/build
        try_files {path} /index.html
        file_server
    }
}
